@import "../Base/variables.scss";

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  width: 1100px;
  background-color: $backgroundRectangle;
  backdrop-filter: blur(50px);
  border-radius: 25px;
  .navigation {
    display: flex;

    .sidebar {
      background-color: rgba(168, 167, 167, 0.64);
      backdrop-filter: blur(50px);
      width: 200px;
      height: 580px;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        .svg {
          width: 100px;
          height: 100px;
          margin-right: 10px;
        }
        img {
          width: 50px;
          height: 50px;
          margin-bottom: 25px;
          margin-right: 15px;
        }
      }
      .menu {
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: absolute;
        top: 25%;
        button {
          font-size: 16px;
          font-weight: bold;
          border: none;
          padding: 10px 30px;
          border-radius: 12px;
          background: #e0e0e0;
          transition: 0.3s;
          cursor: pointer;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
          &:hover {
            background: #949393;
          }
        }
      }

      .logout-button {
        position: absolute;
        bottom: 10px;
        border: none;
        padding: 10px 30px;
        font-weight: bold;
        border-radius: 12px;
        background: #550a0a71;
        transition: 0.3s;
        color: white;
        cursor: pointer;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        &:hover {
          background: #b61414;
        }
      }
    }
    .navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      background-color: rgba(168, 167, 167, 0.64);
      backdrop-filter: blur(50px);
      width: 900px;
      height: 50px;
      border-top-right-radius: 25px;
      .search-container {
        position: relative;
        display: flex;
        align-items: center;

        input {
          width: 250px;
          height: 30px;
          padding: 10px;
          font-size: 16px;
          border: none;
          border-radius: 8px;
          background: #e0e0e0;
          transition: 0.3s;

          &:focus {
            outline: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          }
        }

        .search {
          width: 20px;
          height: 20px;
          position: absolute;
          right: 10px;
          cursor: pointer;
        }
      }

      .search,
      .bell,
      p {
        font-weight: bold;
        margin-right: 10px;
      }
      .search,
      .bell {
        width: 25px;
        height: 25px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
      position: absolute;
      left: 240px;
      top: 70px;
      .card {
        width: 240px;
        height: 140px;
        border-radius: 25px;
        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          p {
            margin-top: 140px;
          }
          img {
            position: relative;
            top: -160px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
  }

  .modal-content {
    background-color: $backgroundRectangle;
    backdrop-filter: blur(50px);
    border-radius: 0;
    overflow: hidden;
    color: white;
    width: 300px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    &.modal-open {
      .modal-body img {
        border-radius: 8px;
      }
    }
    @media (max-width: 768px) {
      width: 90%;
    }
  }

  .modal-header {
    position: relative;
    padding: 16px;
    text-align: center;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }

  .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }

  .modal-body {
    padding: 16px;
    .title-card {
      font-weight: bold;
    }
  }

  .modal-body img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal-description {
    margin-top: 16px;
    font-size: 16px;
    color: white;
  }
  .close {
    position: absolute;
    bottom: 15px;
    padding: 10px 25px;
    border: none;
    background-color: #550a0a;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}
